<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="../static/js/map.js"></script>
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="shortcut icon" href="#">
    </head>
    <body>
        <h1 style='text-align: center;'>MyAir</h1>

        <div class='avg_table'>
            <table border="1" style="width:1000px;">
                <caption>Seoul Real Time Average Air Pollution</caption>
                <th>대기상태<br>Air status</th>
                <th>상태결정물질<br>Main pollutant</th>
                <th>미세먼지<br>Particulates</th>
                <th>초미세먼지<br>Ultrafine particle</th>
                <th>이산화질소<br>Nitrogen dioxide</th>
                <th>오존<br>Ozone</th>
                <th>일산화탄소<br>Carbon monoxide</th>
                <th>아황산가스<br>Sulfur dioxide</th>
                <tr id='avg_seoul'>
                </tr>
            </table>
        </div>

        <div class='cur_table'>
            <table border="1" style="width:1200px;">
                <caption>Current Location Real Time Air Pollution</caption>
                <th>위치<br>Location</th>
                <th>대기상태<br>Air status</th>
                <th>상태결정물질<br>Main pollutant</th>
                <th>미세먼지<br>Particulates</th>
                <th>초미세먼지<br>Ultrafine particle</th>
                <th>이산화질소<br>Nitrogen dioxide</th>
                <th>오존<br>Ozone</th>
                <th>일산화탄소<br>Carbon monoxide</th>
                <th>아황산가스<br>Sulfur dioxide</th>
                <tr id='cur_loc'>
                </tr>
            </table>
        </div>

        <div class='standard'>
            <table border="1" style="width:600px;">
                <caption>Air Pollution Standard</caption>
                <th>구분<br>Property</th>
                <th>좋음<br>Good</th>
                <th>보통<br>Normal</th>
                <th>나쁨<br>Bad</th>
                <th>매우 나쁨<br>Very bad</th>
                <tr id='cur_loc'>
                    <td>초미세먼지<br>Ultrafine particle</td>
                    <td>0 ~ 15</td>
                    <td>16 ~ 35</td>
                    <td>36 ~ 75</td>
                    <td>more than 76</td>
                </tr>
                <tr>
                    <td>미세먼지<br>Particulates</td>
                    <td>0 ~ 30</td>
                    <td>31 ~ 80</td>
                    <td>81 ~ 150</td>
                    <td>more than 151</td>
                </tr>
                <tr>
                    <td>오존<br>Ozone</td>
                    <td>0 ~ 0.030</td>
                    <td>0.031 ~ 0.090</td>
                    <td>0.091 ~ 0.150</td>
                    <td>more than 0.151</td>
                </tr>
                <tr>
                    <td>이산화질소<br>Nitrogen dioxide</td>
                    <td>0 ~ 0.030</td>
                    <td>0.031 ~ 0.060</td>
                    <td>0.061 ~ 0.200</td>
                    <td>more than 0.201</td>
                </tr>
                <tr>
                    <td>일산화탄소<br>Carbon monoxide</td>
                    <td>0 ~ 2.00</td>
                    <td>2.01 ~ 9.00</td>
                    <td>9.01 ~ 15.00</td>
                    <td>more than 15.01</td>
                </tr>
                <tr>
                    <td>아황산가스<br>Sulfur dioxide</td>
                    <td>0 ~ 0.020</td>
                    <td>0.021 ~ 0.050</td>
                    <td>0.051 ~ 0.150</td>
                    <td>more than 0.151</td>
                </tr>
            </table>
        </div>
       

        <div class="map_wrap">
            <div id="map" style="width:90%;height:500px;">
                <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{appkey}}&libraries=services"></script>
            </div>
            <div class="hAddr">
                <span class="title">지도중심기준 행정동 주소정보</span>
                <span id="centerAddr"></span>
            </div>
        </div>

        <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                mapOption = { 
                    center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                    level: 7 // 지도의 확대 레벨 
                }; 

            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

            var geocoder = new kakao.maps.services.Geocoder();  // 주소-좌표 변환 객체를 생성합니다

            var marker = new kakao.maps.Marker(); // 클릭한 위치를 표시할 마커입니다
            var infowindow = new kakao.maps.InfoWindow({zindex:1}); // 클릭한 위치에 대한 주소를 표시할 인포윈도우입니다

            // 지도를 클릭했을 때 클릭 위치 좌표에 대한 주소정보를 표시하도록 이벤트를 등록합니다
            kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
                searchDetailAddrFromCoords(mouseEvent.latLng, makeDetailAddr);
                
                // 마커를 클릭한 위치에 표시합니다 
                marker.setPosition(mouseEvent.latLng);
                marker.setMap(map);
                
            });

            searchAddrFromCoords(map.getCenter(), displayCenterInfo);   // 현재 지도 중심좌표로 주소를 검색해서 지도 좌측 상단에 표시합니다

            // 중심 좌표나 확대 수준이 변경됐을 때 지도 중심 좌표에 대한 주소 정보를 표시하도록 이벤트를 등록합니다
            kakao.maps.event.addListener(map, 'idle', function() {
                searchAddrFromCoords(map.getCenter(), displayCenterInfo);
            });

            // HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
            if (navigator.geolocation) {
                
                // GeoLocation을 이용해서 접속 위치를 얻어옵니다
                navigator.geolocation.getCurrentPosition(function(position) {
                    
                    var lat = position.coords.latitude, // 위도
                        lon = position.coords.longitude; // 경도
                    
                    var locPosition = new kakao.maps.LatLng(lat, lon); // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다

                    displayMarker(locPosition, null);  // 마커와 인포윈도우를 표시합니다
                        
                });
                
            } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
                
                var locPosition = new kakao.maps.LatLng(37.566826, 126.9786567);
                var message = 'geolocation을 사용할수 없어요..';
                console.log('geolocation error');
                displayMarker(locPosition, message);   
            } 

            get_avg_airpollution();
        </script>
    </body>
</html>